# Data Exploration
In this file, I explore the results of my cross-coder training, following examples set by Connor Kissane, Robert Krzyzanowski, Arthur Conmy and Neel Nanda in [this colab](https://colab.research.google.com/drive/124ODki4dUjfi21nuZPHRySALx9I74YHj?usp=sharing).